@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #CFF4D2;
  --foreground: #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #CFF4D2;
    --foreground: #FFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

.carousel {
  animation: move 10s linear infinite;
}

@keyframes move {
  to {
    transform: translate(calc(-50% - 0.5em));
  }
}